* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: Mali-Regular;
    src: url(/Project-trip/projet/front/source/fonts/Mali-Regular.ttf);
}

@font-face {
    font-family: Mali-SB;
    src: url(/Project-trip/projet/front/source/fonts/Mali-SemiBold.ttf);
}

@font-face {
    font-family: Signika-Regular;
    src: url(/Project-trip/projet/front/source/fonts/Signika-Regular.ttf);
}

@font-face {
    font-family: Signika-SB;
    src: url(/Project-trip/projet/front/source/fonts/Signika-SemiBold.ttf);
}

.recherche_avancee {
    background-color: rgba(15, 171, 223, 0.2);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Mali-SB;
    color: #ED6E38;
    margin-bottom: 50px;
}

form {
    background-color: #8CC04E;
    border-radius: 20px;
    margin: 0 200px 0 200px;
}

.formule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formule select {
    width: 250px;
    font-family: Signika-Regular;
    color: #8CC04E;
}

.formule label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Mali-SB;
    color: #ED6E38;
}

input {
    color: #8CC04E;
    font-family: Signika-Regular;
    width: 190px;
    height: 35px;
}

input::placeholder {
    color: #8CC04E;
}

button {
    background-color: #ED6E38;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    font-family: Signika-Regular;
}

button img {
    width: 30px;
}

.carte_france {
    width: 70%;
    display: flex;
    justify-content: center;
}

.map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 50px;
    font-family: Mali-Regular;
    color: #ED6E38;
}

.map h3 {
    font-family: Mali-SB;
    color: #0FABDF;
}

.map h5 {
    font-family: Mali-Regular;
    color: #ED6E38;
}

.map h6 {
    font-family: Mali-Regular;
    color: #0FABDF;
}

.map p {
    font-family: Signika-Regular;
    color: black;
}

.region_img {
    width: 70%;
    border-radius: 20px;
}