.btnAccueil{
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    background-color: #2e852e;
    border-radius: 8px;
    
   
}

.btnAccueil :hover{
    color: yellow;
    background-color: #2e852e;
    border-radius: 8px;
    
}

.colorBtn{
    color: white;
}

